@model EFProject.MvcWebUI.Models.HastaViewModel
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Hasta Bilgileri Sorgulama</h2>
            <p class="lead">Lütfen T.C. No giriniz</p>
            <p class="lead" style="color: red;">@Html.ValidationMessage("FilterException")</p>
        </div>

        <div class="row">

            <div class="col-md-12 order-md-1">
                <center><h4 class="mb-3">Hasta Sorgula</h4></center>
               
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="tcNo">T.C. No</label>
                            @Html.TextBoxFor(m => m.HastaKarti.TCNo, new { @class = "form-control", id = "tcNo" })
                            @Html.ValidationMessageFor(model => model.HastaKarti.TCNo, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <hr class="mb-4">

                    <button class="btn btn-primary btn-lg btn-block col-md-3" onclick="GetList()" type="button">Sorgula</button>
               
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <table id="tblList" class="table table-bordered table-condensed table-striped table-hover sortable" style="display: none;">
                <thread>
                    <tr>
                        <th>Id</th>
                        <th> TC</th>
                        <th> Ad Soyad</th>
                        <th> Dogum Yılı</th>
                    </tr>
                </thread>
                <tbody >

                </tbody>
            </table>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017-2018 Company Name</p>
           
        </footer>
    </div>

</body>


<script>
    function GetList() {
        var tc = $("#tcNo").val();
        //console.log(tc);
        $('#tblList').show();
        $.ajax({


            url: '../api/HastaSearch/',
            dataType: "json",
            type: "Get",
            data: { tc: tc },
            success: function (data) {
               // console.log(data);
                var tr;
                for (var i = 0; i < data.length; i++) {
                    //debugger;
                    tr = tr + '<tr/>';
                    tr = tr+"<td>" + data[i].Id + "</td>";
                    tr = tr + "<td>" + data[i].TCNo + "</td>"; 
                    tr = tr + "<td>" + data[i].Ad_Soyad + "</td>";
                    tr = tr + "<td>" + data[i].DogumYili + "</td>";

                }
                $('#tblList').append(tr);
            },
            error: function () {
                alert('No valid data');
            }
        });
    }
</script>
